body {
  margin: 0;
  font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
  background-color: #f5f8f6;
  color: #000036;
}

a {
  color: #000036;
}

/* header */

.header {
  background-color: #f5f8f6;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.253);
  position: fixed;
  width: 100%;
  /* z-index: 3; */
}

.header ul {
  padding-top: 10px;
  list-style: none;
  overflow: hidden;
  background-color: #f5f8f6;
}

.header li a {
  display: block;
  padding: 10px 10px;
  border-right: 1px solid #f5f8f6;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f5f8f6;
}

/* .header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
} */

.logo {
  float: left;
  height: 80px;
  width: 80px;
  transition: 0.4s;
  padding-top: 10px;
  padding-left: 10px;
  /* padding-bottom: 0px; */
}

.header-left {
  float: left;
  padding: 30px;
  padding-left: 10px;
  padding-bottom: 0px;
  font-size: 12.5px;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 50px 50px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 1000px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* NOT HEADER */

.grid-container {
  overflow-y: scroll;
  padding-top: 100px;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-gap: 10px;
  justify-content: center;
  align-content: center;
}

.title {
  grid-column: 2 / span 8;
  background-color: #89e291;
  font-size: 50px;
  text-align: center;
  line-height: 1.5;
  margin: 20px;
  margin-top: 30px;
  padding-top: 15px;
}

.content {
  padding-top: 10px;
  background-color: #f5f8f6;
  grid-column: 2 / span 6;
  margin: auto 15%;
  line-height: 1.5;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}

.leaves {
  padding-top: 10px;
  width: 400px;
  height: 600px;
}

.text {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  font-size: 16pt;
}

h1 {
  font-size: 28px;
  font-weight: bold;
}

.sources {
  font-size: 16px;
  font-weight: lighter;
}

.newsletter {
  flex-grow: 1;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.253);
  margin: 15px;
  font-size: 24px;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: lighter;
}

h2 {
  font-size: 20px;
  /* text-decoration: underline; */
}

a.one:link {
  text-decoration: none;
}

@media screen and (max-width: 1460px) {
  .content {
    margin: auto 10%;
  }
}

@media screen and (max-width: 1220px) {
  .content {
    margin: auto 5%;
  }
  .flex-container {
    flex-direction: column;
    align-items: center;
  }
  .leaves {
    margin-bottom: 50px;
    margin-top: 30px;
    width: 300px;
    height: auto;
  }
  .title {
    font-size: 40px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-top: 15px;
  grid-column: 1 / span 8;
  box-shadow: 4px 1px 4px 0 rgba(0, 0, 0, 0.253);
  align-items: right;
}
