* {
  background-color: #f5f8f6;
  color: #000036;
  font-family: Comic, Gill Sans, Georgia, sans-serif;
  box-sizing: border-box;
  word-spacing: 3px;
}

body {
  margin: 0;
  font-family: Rockwell, 'Times New Roman', Times, serif;
  background-color: #f5f8f6;
  color: #000036;
}

.main {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.header {
  top: 0%;
  width: 100%;
  border-bottom: 1px solid rgb(0, 0, 54);
  grid-column: 1 / span 8;
  padding: 5px 10px;
  overflow: hidden;
  transition: 0.4s;
}

.header a {
  float: center;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  padding: 8px;
  border-right: 1px solid rgb(0, 0, 54);
}

.header a:hover {
  background: #ddd;
  text-decoration: none;
}

.logo {
  float: left;
  height: 80px;
  width: 80px;
  transition: 0.4s;
}

.header-right {
  float: right;
  padding: 30px;
  padding-right: 10px;
}

.header-left {
  float: left;
  padding: 20px;
  padding-left: 10px;
  font-size: 12.5px;
}

@media screen and (max-width: 1245px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
    font-size: 20px;
    padding: 10px;
    border-right: none;
    border-bottom: 1px solid rgb(0, 0, 54);
  }

  .menu-links {
    display: none;
  }

  .header-right {
    background-color: lightgray;
    float: left;
  }

  .logo {
    float: right;
  }
  .header-left {
    float: right;
    padding-right: 0px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 670px) {
  .header-left {
    display: none;
  }
}

.grid-container {
  overflow-y: scroll;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-gap: 10px;
  justify-content: center;
  align-content: center;
}

.title {
  grid-column: 2 / span 8;
  background-color: #89e291;
  font-size: 50px;
  text-align: center;
  line-height: 1.5;
  margin: 20px;
}

.content {
  background-color: #f5f8f6;
  grid-column: 2 / span 6;
  margin: auto 15%;
  line-height: 1.5;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}

.leaves {
  padding-top: 30px;
  width: 400px;
  height: 600px;
}

.text {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  font-size: 16pt;
}

h1 {
  font-size: 28px;
  font-weight: bold;
}

.sources {
  font-size: 16px;
  font-weight: lighter;
}

.newsletter {
  flex-grow: 1;
  border: 1px solid rgb(0, 0, 54);
  margin: 15px;
  font-size: 24px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: lighter;
}

h2 {
  font-size: 20px;
  text-decoration: underline;
}

a.one:link {
  text-decoration: none;
}

@media screen and (max-width: 1460px) {
  .content {
    margin: auto 10%;
  }
}

@media screen and (max-width: 1220px) {
  .content {
    margin: auto 5%;
  }
  .flex-container {
    flex-direction: column;
    align-items: center;
  }
  .leaves {
    margin-bottom: 50px;
    margin-top: 30px;
    width: 300px;
    height: auto;
  }
  .title {
    font-size: 40px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 3px;
  grid-column: 1 / span 8;
  border-top: 1px solid rgb(0, 0, 54);
  align-items: right;
}

/* https://www.google.com/search?client=safari&rls=en&q=responsive+navbar+with+icon+menu+pure+css&ie=UTF-8&oe=UTF-8 */